.mid{
font-size: 50px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
padding-bottom: .5rem;
}
.second{
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(to left top, rgb(68, 46, 194), rgb(224, 39, 153));
    background-clip: unset;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    padding-bottom: .5rem;
}
.main{
    padding-top: 2rem;
}
.third{
    font-size: 50px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
padding-bottom: 3rem;
}
.bottom{
    text-align: justify;
    padding-right: 28rem;
    padding-left: 28rem;
    padding-bottom: 3rem;
    text-align: center;
    font-size: 18px;
    color: grey;

}