.footer {
  ul {
    display: flex;
    gap: 15rem;
    list-style-type: none;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
  }
  li{
      cursor: pointer;
      &:hover{
          transition: 500ms ease-in-out;
          transform: scale(1.3)
      }
  }

}
